@page "/"

@rendermode InteractiveServer
@using Battleship.Model

<PageTitle>Battle Ships</PageTitle>

<style>
	body {
		height: 100vh;
		width: 100vw;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		display: flex;
		background-color: #242423;
	}

	.container {
		height: 80%;
		width: 80%;
		padding: 5%;
		margin: 5%;
		display: flex;
		flex-direction: column;
		border: 5px solid #44fa16;
		border-radius: 10px;
		background-color: #252e23;
		text-align: center;
		color: white;
	}

	h1 {
		margin: 30px;
		font-size: xxx-large;
		text-shadow: 1px 1px 4px black, 0 0 1em #44fa16, 0 0 0.2em #252e23;
	}

	.bold-label {
		font-weight: bold;
		display: inline-block;
		font-size: larger;
	}

	.inline-text {
		display:inline-block;
		font-size: large;
		margin-bottom: 50px;
	}

	.start-btn {
		border: 1px solid #2a3642;
		border-radius: 5px;
		padding: 40px;
		background-color: #1a2417;
		margin: 10px;
		color: white;
	}

	.start-btn:hover {
		border: 3px solid #2a3642;
		border-radius: 8px;
		margin: 7px;
		background-color: #3ba31c;
		color: #282928;
	}

</style>

<div class="container">
	<h1>Battle Ships 1.0</h1>
	<label class="bold-label">Grid: </label>
	<label class="inline-text">10x10</label><br />
	<label class="bold-label">Opponent: </label>
	<label class="inline-text">AI</label>
	<button class="start-btn btn" onclick="@StartNewGame">New Game</button>
</div>

@code {
	[Inject] private NavigationManager NavManager { get; set; }

	private void StartNewGame()
	{
		NavManager.NavigateTo("/GameGrid");
	}
}
